body{
	font-famiy:Source Sans Pro;
	background: #282828;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}

h1{
	font-weight: lighter;
	font-size: 80px;
	color:#ffffff;
	text-align: center;
padding-top: 50px;
margin-bottom:0;
}
h3{
	font-weight: lighter;
	font-size: 30px;
	color:#ffffff;
	text-align: center;
padding-top: 50px;
margin-bottom:0;
}

h4{
	font-weight: lighter;
	font-size: 30px;
	color:#ffffff;
	text-align: center;
padding-top: 50px;
margin-bottom:0;
}

